<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CliServiceConfiguration" type="ESFA.DC.ILR.Desktop.CLI.Config.CliServiceConfiguration,ESFA.DC.ILR.Desktop.CLI" />
    <section name="APIConfiguration" type="ESFA.DC.ILR.Desktop.CLI.Config.APIConfiguration,ESFA.DC.ILR.Desktop.CLI" />
  </configSections>
  <CliServiceConfiguration ReleaseDate="__ServiceReleaseDateTime__" ReferenceDataDate="__ServiceReleaseDateTime__" />
  <FeatureSwitchConfiguration ReportFilters="false" VersionUpdate="false" />
  <APIConfiguration
  APIBaseUrl="__APIBaseUrl__"
  ApplicationVersionPath="__ApplicationVersionPath__"
  ApiVersionHeader="__ApiVersionHeader__"
  ApiVersion="__ApiVersion__"
ReferenceDataVersionPath="__ReferenceDataVersionPath__" />
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IlrDatabaseConnectionString" value="Data Source=(local);Initial Catalog=ILR1920;Integrated Security=True"/>
    <add key="OutputDirectory" value=""/>
    <add key="ExportToSql" value="false"/>
    <add key="ExportToAccessAndCsv" value="false"/>
    <add key="ReferenceDataVersion" value ="0.1.0.202003230900" />
  </appSettings>
</configuration>