<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="5.1.2" targetFramework="net461" />
  <package id="CommandLineParser" version="2.6.0" targetFramework="net461" />
  <package id="ESFA.DC.FileService.Interface" version="0.1.39-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.Logging.Interfaces" version="0.1.10-beta0001" targetFramework="net461" />
  <package id="ESFA.DC.Serialization.Interfaces" version="0.1.39-beta0001" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="NLog" version="4.6.7" targetFramework="net461" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net461" developmentDependency="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net461" />
</packages>